
 @font-face {
     font-family: 'MyFont';
    src:  url('./zcool-qingke-huangyou-v5-latin-regular.woff2') format('woff2'),
         url('./zcool-qingke-huangyou-v5-latin-regular.woff') format('woff');
    font-weight: 600;
    font-style: normal;
   }

.hello {
    color: red;
    font-family: 'MyFont';  /* Added to use the MuFont family defined through @font-face */ 
    background: url('./icon.png');
  }